# ==============================================================================
# Kernel Source Configuration
# ==============================================================================

use_lineageos_source=true
lineageos_source_repo=https://github.com/LineageOS/android_kernel_samsung_sm8250.git
lineageos_source_branch=lineage-22.2

# ==============================================================================
# KernelSU Configuration
# ==============================================================================

# KernelSU platform selection
# Options: "sukisu-ultra", "ksu-next"
ksu_platform=ksu-next

# KernelSU installation script URL
ksu_install_repo=https://github.com/sidex15/KernelSU-Next.git

# KernelSU branch to use
ksu_branch=next-susfs_v1.5.5-v1.5.7

# ==============================================================================
# SuSFS Configuration
# ==============================================================================

# Enable/disable SuSFS integration
ksu_add_susfs=true

# SuSFS repository URL
susfs_repo=https://gitlab.com/simonpunk/susfs4ksu.git

# SuSFS branch to use
susfs_branch=kernel-4.19

# SuSFS resolve patch file
susfs_resolve_patch="resolve_rejected_susfs_1.5.5_lineage.patch"
